#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #000;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(192, 233, 70);
  color:rgb(3, 55, 61, 1) ;
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(3, 55, 61, 1);
  color: rgb(192, 233, 70);
}


.testimonials-container {
  text-align: center;
  padding: 60px 0;
  
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #002b36;
}

.subtitle {
  max-width: 600px;
  margin: 10px auto 40px;
  color: #4a5568;
  font-size: 0.95rem;
}

.mySwiper {
  width: 340px;
  height: 420px;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  padding: 25px 30px;
  text-align: left;
  position: relative;
}

.quote-icon {
  
  width: 30px;
  height: 30px;
  margin-bottom: 15px;
}

.message {
  font-size: 0.95rem;
  margin-bottom: 20px;
  line-height: 1.5;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: auto;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #00a387;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.author h4 {
  font-weight: 600;
  
}

.author p {
  font-size: 0.85rem;
  
}
